.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        groupname
      .main-chat__group-info__left-box__group-member
        member : name
    .main-chat__group-info__edit-btn
      %a{href: "#"}Edit
          
  .main-chat__messages
    .main-chat__messages__message
      .main-chat__messages__message__upper-info
        .main-chat__messages__message__upper-info__talker
          禁書目録
        .main-chat__messages__message__upper-info__date
          2020/05/08(fri) 11:30:00
      .main-chat__messages__message__text
        お腹空いたかも
    .main-chat__messages__message
      .main-chat__messages__message__upper-info
        .main-chat__messages__message__upper-info__talker
          上条当麻
        .main-chat__messages__message__upper-info__date
          2020/05/08(fri) 11:40:00
      .main-chat__messages__message__text
        聞こえませーん

  .main-chat__message-form
    .main-chat__message-form__input-box
      %input{type: "text", placeholder: "type a message", class: "main-chat__message-form__input-box__text"} 
      %label{class: "main-chat__message-form__input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}
    %input{type: "submit", value: "Send", class: "main-chat__message-form__submit"}
      