.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        チワワ
      .main-chat__group-info__left-box__group-member
        member : name
    .main-chat__group-info__edit-btn
      %a{href: "#"}Edit
          
  .main-chat__messages

  .main-chat__message-form