.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        チワワ
      .main-chat__group-info__left-box__group-member
        Member : name
      
  .main-chat__message-list
  .main-chat__message-form